* {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  font-weight: 500;
}

html body{
  width: 100%;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #e74c3c;
}

.block {
  padding: 3% 4%;
  font-size: 16pt;
}

.light {
  background-color: #FFFFFF;
  color: #212121;
}

.dark {
  background-color: #334055;
  color: #FFFFFF;
}

.title {
  text-align: center;
}

#top {
  background-repeat: no-repeat;
  background-size: cover;
}

.intro {
}

.introcontent {
  text-align: left;
}

.projects {
}

.contact {
}

.head {
  font-size: 28pt;
  padding-bottom: 2%;
  text-align: center;
  text-transform: uppercase;
}

.name {
  font-size: 35pt;
  padding-bottom: 1%;
}

.description {
  font-size: 26pt;
}

.resume {
  text-align: center;
  padding-top: 6%;
}

.resume a {
  border: 1px solid #e74c3c;
  padding: 15px;
  border-radius: 5px;
}

.resume a:hover {
  background-color: #e74c3c;
  color: #FFFFFF;
}

.contactcard {
  text-align: center;
  padding: 2%;
}

.contactcard img {
  width: 100px;
}

.contactcard:hover {
  background-color: #e74c3c;
  border-radius: 10px;
}

.contactcard:hover a {
  color: #FFFFFF;
}

.project {
  width: 100%;
  border: 1px solid #FFFFFF;
  margin-bottom: 1%;
  text-align: left;
  padding: 1%;
  border-radius: 5px;
  overflow: auto;
}

.projtitle {
  margin-right: 1%;
  font-size: 16pt
}

.projdesc {
  margin-left: 1%;
  font-size: 14pt;
}

.tags {
  margin-top: 0.5%;
}

.tag {
  padding: 0.4%;
  padding-right: 1.4%;
  padding-left: 1.4%;
  font-size: 11pt;
  font-style: italic;
  background-color: #e74c3c;
  border-radius: 10px;
  margin-right: 1%;
  display: inline-block;
}
@media (max-width: 700px) {
  .tag {
    padding: 0.6%;
    padding-right: 2%;
    padding-left: 2%;
  }
}

.downdiv {
  margin-top: 1%;
  text-align: center;
}

.down {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 100%;
  padding: 0.3%;
}

.project:hover .downdiv .down{
  background-color: #e74c3c;
  color: #e74c3c;
}

.githublink {
  text-align: center;
}

.links {
  font-size: 13pt;
  margin-top: 0.5%;
}

.link {
  margin-right: 1%;
  margin-left: 1%;
}

.divide {
  font-size: 15pt;
}

.latexdiv {
  width: 100%;
  text-align: center;
  margin-top: 3%;
}

.latex {
  font-size: 11pt;
}

.footer {
  font-size: 11pt;
  text-align: center;
}
.footer a {
  padding-right: 5px;
  padding-left: 5px;
}

.area {
  border: 1px solid black;
}
